/* html,
body,
#root {
  height: 100%;
  margin: 0;
}

.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
} */

body {
  background: linear-gradient(135deg, #667eea, #764ba2);
  font-family: "Segoe UI", sans-serif;
}

.auth-card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.form-control {
  border-radius: 10px;
  padding: 12px;
}

.btn {
  border-radius: 20px;
}

.dashboard-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
